
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<body>
    <!--Header-------------------------------------------------------------------------------------------------------->
    <header style="background-image: url('imagens/MocaCabeloAfro.jpg');">
        <!--o style aqui quer dizer que estou a utiliar as propriedades do css no html-->
        <!--LOGO-->
        <div class="container">

            <nav>

                <a href="index.html">
                    <img src="imagens/logo.png" alt="logo">
                </a>

                <!--MENUS-->
                <UL class="ul">
                    @*<a href="index.html">Home</a>
                    <a href="cursos.html">Cursos</a>
                    <a href="videos.html">Videos</a>
                    <a href="Musicas.html">Musicas</a>*@
                    <a class="btn" href="contacto.html">Contactos</a>
                </UL>


            </nav>

            <!--Seccao ou SECTION-->
            <section class="banner">

                <div class="banner-text">
                    <h1>SoAguAs </h1>
                    <p>Costrua a sua carreira, tudo é possivel aqui</p>
                    <a href="contactos.html" class="btn animate-btn">Entrar em contacto</a>
                </div>

            </section>
        </div>
    </header>
    <!--Close Header--------------------------------------------------------------------------------------------------------------->
    <!--Section2- Container-------------------------------------------------------------------------------------------------------->
    <section class="faca-mais">

        <div class="container">
            <div class="faca-mais-text">
                <h3>Faca mais com SoAguAs</h3>
                <p>
                    Agua Pura So na SoAguAs
                </p>
                <a href="contacto.html" class="btn animate-btn">Entrar em contacto</a>
            </div>

            <div class="faca-mais-img">
                <img src="imagens/img-1.png" alt="">
            </div>
        </div>
    </section>
    <!--Close Section2- Container-------------------------------------------------------------------------------------------------->
    <!--Section3- Container-------------------------------------------------------------------------------------------------------->
    <section class="faca-mais">

        <div class="container">
            <div class="faca-mais-img">
                <img src="imagens/img-2.png" alt="">
            </div>
            <div class="faca-mais-text">
                <h3>Agua é vida!!!</h3>
                <p>
                   Servico Com eficiencia!!!
                </p>
                <a href="contacto.html" class="btn ">Entrar em contacto</a>
            </div>


        </div>
    </section>
    <!--Close Section3- Container------------------------------------------------------------------------------------->
    <!--Section4-------------------------------------------------------------------------------------------------------->
    <section class="depoimentos">

        <div class="container">
            <h3>Nossos Depoimentos</h3>
            <p>O que os nossos clientes falam sobre nós</p>


            <div class="cards">
                <!--Card Item1-->
                <div class="card-item">
                    <img src="imagens/me.jpg" alt="Simao">
                    <p class="nome-user"> Sofia Costa</p>
                    <p class="depoimento-user">
                        Super Recomendo! Serviço bom e de qualidade
                    </p>

                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!--Card Item1-->
                <!--Card Item2-->
                <div class="card-item">
                    <img src="imagens/me.jpg" alt="Simao">
                    <p class="nome-user"> Belania Luis</p>
                    <p class="depoimento-user">
                      Muito Profissionalismo! Atendimento Excelente!!
                    </p>

                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!--Card Item2-->
                <!--Card Item3-->
                <div class="card-item">
                    <img src="imagens/me.jpg" alt="Simao">
                    <p class="nome-user"> Cataleya Andre</p>
                    <p class="depoimento-user">
                        Já estou com eles a 4 anos e nunca tive falhas! 
                    </p>

                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <!--Card Item3-->
        </div>
    </section>
    <!--Close section4-------------------------------------------------------------------------------------------------->
    <!--Open Section5-------------------------------------------------------------------------------------------------------->
    <section class="clientes">

        <div class="container">
            <!--Abrir div para os texos e imagens-->

            <h3>Nossos clientes</h3>
            <p>Obrigado por preferir trabalhar com a nossa equipa</p>

            <div>
                <!--Abrir div para os texos-->
                <img src="imagens/apple.png" alt="">
                <img src="imagens/microsoft.png" alt="">
                <img src="imagens/slack.png" alt="">
                <img src="imagens/google.png" alt="">
            </div>   <!--Abrir div para os texos-->

        </div>    <!--Fechar div para os texos e imagens-->
    </section>
    <!--Close Section5-------------------------------------------------------------------------------------------------->
    <!-- Open Section 6 inserir textos e imagem-------------------------------------------------------------------------------------------------->
    <section class="faca-mais">

        <div class="container">
            <div class="faca-mais-img">
                <img src="imagens/img-2.png" alt="">
            </div>
            <div class="faca-mais-text">
                <h3>Ter a sua agua nunca foi tão facil!</h3>
                <p>
                    Aproveita a promoção do próximo mês!
                </p>
                <a href="contacto.html" class="btn ">Entrar em contacto</a>
            </div>


        </div>
</body>
