
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="text-center" style="color:chocolate">Welcome To</h1>
<br />
<br />
<h1 class="text-center" style="color:aquamarine">SoAguas Limitada</h1>
<br />

<h1 class="text-center" style="color:chocolate">lets Goo!</h1>