@model AguasApp.Data.Entities.BuyService

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Permitir Apenas pessoas logadas *@
<!----------------------------------------------------------------------------->
@if (this.User.Identity.IsAuthenticated)
{
    <br />
    <h4>Buy Service</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ServiceId" class="control-label"></label>
                    <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
    </div>
}
<!----------------------------------------------------------------------------->



@*Se o user nao estiver logado Redireciona para o login*@
<!----------------------------------------------------------------------------> 
<script>
    // Verifique a condição que determina se o redirecionamento é necessário
    if (!this.User.Identity.IsAuthenticated) {
        // Redirecione para o controlador e a ação desejados
        window.location.href = '@Url.Action("Login", "Account")';
    }
</script>
<!-----------------------------------------------------------------------------> 