
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .centered {
        display: block;
        margin: 0 auto;
    }
</style>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="text-center" style="color:chocolate">Welcome To</h1>
<br />
<br />
<h1 class="text-center" style="color:aquamarine">SoAguas Limitada</h1>
<br />

<h1 class="text-center" style="color:chocolate">lets Goo!</h1>
<br />
<img src="~/images/water-logo-transparent-7.png" width="100" height="100" class="centered" />

