@using AguasApp.Data.Entities
@model Comment

<br />
<h1>Write A Comment</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="UserName">Name</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text">Comment</label>
        <textarea asp-for="Text" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

