
@{
    ViewData["Title"] = "SendEmailContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />

<div class="alert alert-success">
    <strong>Success!</strong> Message Sent.
</div>

<br />

<div class="card">
    <div class="card-header">
        Information Tag
    </div>
    <div class="card-body">
        <h5 class="card-title">Check Your Email!</h5>
        <p class="card-text">Please, Kindly Pre Alert And Check Your Email Inbox For Our Response.</p>
        <a class="btn btn-primary" asp-action="Contact">Back</a>
    </div>
</div>

<div class="alert alert-warning">
    <strong>Warning!</strong> Please, pay attention to your span, if you cannot find our feedback message.
</div>



