
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <h1>Products</h1>
            </th>
            <th>
                <h1>Services</h1>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="ProductSites" asp-action="Index">
                    <img src="~/images/agualogoproduct.jpg" asp-append-version="true" />
                </a>
                </td>

            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="ServiceSites" asp-action="Index">
                    <img src="~/images/agualogoproduct.jpg" asp-append-version="true" />
                </a>
            </td>

            </tr>
    </tbody>
</table>